<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971089612758-h9o9djs7tvnvlulbvcl1ps1qke5o9rq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971089612758-h9o9djs7tvnvlulbvcl1ps1qke5o9rq4</string>
	<key>API_KEY</key>
	<string>AIzaSyAcHqz7zMYQ7CdeZiZfMWwJDs7aWeglZSM</string>
	<key>GCM_SENDER_ID</key>
	<string>971089612758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gurhanyuvarlak.FlickrApi</string>
	<key>PROJECT_ID</key>
	<string>flickrapi-f6ff7</string>
	<key>STORAGE_BUCKET</key>
	<string>flickrapi-f6ff7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971089612758:ios:e88ec758054b1224901e77</string>
</dict>
</plist>